attrs==17.3.0
Automat==0.6.0
backports-abc==0.5
certifi==2017.11.5
constantly==15.1.0
futures==3.1.1
hyperlink==17.3.1
incremental==17.5.0
Monotime==1.0
monotonic==1.4
pycares==2.3.0
pycurl==7.43.0
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.2
Twisted==22.1.0
zope.interface==4.4.3
